camera-coords {
    x: 5px;
    y: 5px;
    layout: vertical;
}

.infobox {
    layout: vertical;
    background: gray;
    margin-bottom: 5;
}

.infobox text {
    color: white;
    margin: 5;
    text-shadow: 0 1 black;
}

#p {
    color: #00FF00;
}

#m {
    color :#ffe2a5;
}

lose-u-i {
    padding: 20;
    padding-top: 2;
    background: #FF0000;
    y: 20;
    layout: vertical;
}

lose-u-i .header {
    color: #FFFFFF;
    scale: 4;
    line-spacing: 1;
    halign: middle;
}

lose-u-i .score {
    color: #FFFFFF;
    margin-top: 10;
    halign: middle;
    scale: 2;
}

lose-u-i lose-button {
    halign: middle;
    background: #FFFFFF;
    margin-top: 12;
    padding-bottom: 8;
    width: 300;
}

lose-button text {
    color: #FF0000;
    scale: 2;
    text-align: center;
}