camera-coords {
    x: 5px;
    y: 5px;
    layout: vertical;
}

.infobox {
    layout: vertical;
    background: gray;
    margin-bottom: 5;
}

text {
    color: white;
    margin: 5;
    text-shadow: 0 1 black;
}