camera-coords {
    /* x: 5px;
    y: 5px; */
    layout: vertical;
    /* background: gray; */
    background: url("score.png");
    width: 110;
    height: 101;
}

.infobox {
    layout: vertical;
    margin-bottom: 5;
    margin-left: 10;
    margin-top: 7;
    margin-right: 10;
    /* background: #000000;
    background-alpha: 0.5; */
}

.infobox text {
    color: white;
    margin: 5;
    text-shadow: 0 1 black;
}

text.pointlabel {
    color: #00FF00;
    margin-bottom: 0;
}

#p {
    color: #00FF00;
    scale: 2;
    offset-y: -4;
    margin-top: 0;
    margin-bottom: 0;
}

text.moneylabel {
    color: #fdcea8;
    margin-bottom: 0;
    margin-top: 1;
}

#m {
    color :#fdcea8;
    scale: 2;
    offset-y: -4;
    margin-top: 0;
}

lose-u-i,pause-u-i {
    padding: 20;
    padding-top: 2;
    background: #FF0000;
    y: 20;
    layout: vertical;
}

lose-u-i .header,pause-u-i .header {
    color: #FFFFFF;
    scale: 4;
    line-spacing: 1;
    halign: middle;
}

lose-u-i .score {
    color: #FFFFFF;
    margin-top: 10;
    halign: middle;
    scale: 2;
}

lose-button {
    halign: middle;
    background: #FFFFFF;
    margin-top: 12;
    padding-bottom: 8;
    width: 300;
}

lose-button text {
    color: #FF0000;
    scale: 2;
    text-align: center;
}